@use "../utils/layout"
@use "../utils/spacing" as *
@use "../utils/breakpoints"
@use "../global/fonts"

.bc-main
    margin: spacing(8) auto spacing(10)
    max-width: 1720px
    width: 100%
    .bc-divider
        max-width: 800px
        margin: 120px auto

    .bc-divider-container
        margin: spacing(20) spacing(8)
        @include breakpoints.mobile
            margin: spacing(10) spacing(2)
        svg
            width: 100%

    .bc-page-meta
        margin: spacing(6) spacing(6) spacing(4)
        @include breakpoints.mobile
            margin: spacing(6) spacing(2) spacing(4)

p
    font-size: fonts.$font-regular
    line-height: 140%
    font-weight: lighter
