@use "../utils/breakpoints"
@use "../global/colors"
@use "../utils/spacing" as * 
@use "../utils/layout"

.bc-header-container
    display: grid
    grid-template-columns: fit-content(0px) auto auto
    align-items: center
    margin: spacing(2) auto
    max-width: 1440px
    padding: 0 spacing(6)
    @include breakpoints.mobile
        padding: 0
        margin: spacing(2) spacing(2)
        grid-template-columns: repeat(3, 1fr)

#bc-logo-container-header
    width: fit-content
    @include breakpoints.mobile
        justify-self: center
        @include layout.group(spacing(1), row)
    @include breakpoints.tablet-or-desktop
        margin-right: spacing(7)
        @include layout.group(spacing(2))

.bc-logo-part
    svg
        @include breakpoints.mobile
            height: 14px
            width: auto

#desktop-nav
    position: relative

    .desktop-shop-dropdown
        display: flex
        gap: spacing(1)
        align-items: center

    .desktop-category-hover-filler
        height: 24px
        position: absolute
        top: 15px
        height: 10px
        padding: 10px
        width: 75px

    .desktop-category-menu
        -webkit-clip-path: inset(0 -1000px -1000px -100px)
        background-color: var(--color-background)
        position: absolute
        top: 38px
        left: -22px

        .desktop-category-filler
            height: 24px

        #menu-categories-menu
            font-size: 16px
            -webkit-clip-path: inset(0 -1000px -1000px -100px)
            clip-path: inset(0 -1000px -1000px -100px)
            background: var(--color-background)
            padding: 0 16px 16px
            top: 14px
            left: -22px
            box-shadow: 0 0 5px var(--color-shadow)
            .category-menu-item-icon
                height: 36px
                width: 36px
#menu-desktop-menu
    @include breakpoints.mobile
        display: none
    @include breakpoints.tablet-or-desktop
        text-transform: uppercase
        @include layout.group(spacing(3))

#header-container-right
    justify-self: end
    @include layout.group(spacing(3))

#bag-button
    width: fit-content

.content
    padding: 16px

#bc-header
    z-index: 9999
    align-self: stretch
    position: fixed
    top: 0
    width: 100%
    border-bottom: 1.5px solid var(--color-homepage-header)
    color: var(--color-homepage-header)

    svg
        color: var(--color-homepage-header)
    a
        color: var(--color-homepage-header)
    #nav-icon4 span
        background: var(--color-homepage-header)

    &.sticky
        background-color: var(--color-background)
        box-shadow: 2px -7px 18px var(--color-shadow)

        color: var(--color-text)

        svg
            color: var(--color-text)
        a
            color: var(--color-text)
        #nav-icon4 span
            background: var(--color-text)

    &.visible
        background-color: var(--color-background)
        box-shadow: 2px -7px 18px var(--color-shadow)

        color: var(--color-text)

        svg
            color: var(--color-text)
        a
            color: var(--color-text)
        #nav-icon4 span
            background: var(--color-text)
