@use "../utils/spacing" as * 
@use "../utils/layout"
@use "../animations/rotate"

#desktop-lang-switcher
    display: flex
    align-items: center

.lang-switcher
    text-transform: uppercase
    position: relative

.current-language
    @include layout.group(spacing(1))
    padding: spacing(0.5)

.language-dropdown-list
    position: absolute
    -webkit-clip-path: inset(0 -1000px -1000px -100px)
    clip-path: inset(0 -1000px -1000px -100px)
    background-color: var(--color-background)
    top: 45px
    padding: spacing(1) spacing(0.5)
    width: spacing(5)
    box-shadow: 0 0 5px var(--color-shadow)
    // padding: spacing(1) 0

#bc-header
    .language-dropdown-list
        span
            color: var(--color-text)

#language-dropdown-hover-filler
    position: absolute
    top: 22px
    height: 4px
    padding: 10px
    width: 100%
